# Composer
/vendor
composer.lock

# Node and JS toolchain
/node_modules
yarn.lock
package-lock.json

# CI and development
build/
cache.properties
.env

# Assets
public/css/
public/images/
public/mix-manifest.json
